{% extends 'index.html' %} {% load bootstrap5 %} {% load static %}
<!-- dsa -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">
            Edit Profile
          </h5>
          <form action="{% url 'edit-profile' %}" method="POST">
            {% csrf_token %} {% bootstrap_form form %}
            <div class="d-grid">
              <button
                class="btn btn-primary text-uppercase fw-bold"
                type="submit"
              >
                Confirm
              </button>
            </div>
          </form>
          <hr class="my-4" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
