{% extends 'index.html' %} {% load static %}
<!-- dsa -->
{% block content %}
<div class="content-wrap">
  <div class="main py-5">
    <div class="container-fluid py-5">
      <div class="container px-4 px-lg-5 mt-2">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {% for i in count %}
            <div class="col mb-2">
                <div class="card h-100">
        <!--  Matchday -->
                <form method="POST" action="{% url 'matchByDay' i %}" name="day">
                  {% csrf_token %}
                      <button class="btn btn-day btn-sm rounded-pill text-uppercase fw-bold mb-2" type="submit" value="{{i}}" name="day">Matchday {{i}}</button>
                </form>
                <!-- End  -->
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <div class="row">
        <div class="col-lg-10 p-r-0">
          <div class="page-header">
            <div class="page-title text-center">
              <h1>Matchday {{data}}</h1>
              {% for game in matchObj %}
              {% if game.status == 'FINISHED'%}
              {% if forloop.first%}
              <p>FINISHED</p>
              {% endif %}
              {% endif %}
              {% if game.status == 'SCHEDULED'%}
              {% if forloop.first%}
              <p>Check Back for Schedule</p>
              {% endif %}
              {% endif %}
              {% if game.status == 'TIMED'%}
              {% if forloop.first%}
              <p>SCHEDULED</p>
              {% endif %}
              {% endif %}
              {% endfor %}
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <!-- /# row -->
      <section id="main-content">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <div class="card">
              <!-- {% include 'pagination.html' %} -->
              <div class="card-title text-center">
                <h4>Matches</h4>
              </div>
              <div class="card-body h-100 d-flex flex-column text-center">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>utcDate</th>
                        <th>Status</th>
                        <th>MatchDay</th>
                        <th>HomeTeam</th>
                        <th>AwayTeam</th>
                        <th>Winner</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for match in matchObj %}
                      <!-- dsa -->
                      <!-- sda -->
                      <tr class="my-2">
                        <td>{{match.utcDate}}</td>
                        <td>{{match.status}}</td>
                        <td>{{match.matchday}}</td>
                        <td class="text-center">
                          <a
                            href="{% url 'team' match.homeTeam.teamnumber%}"
                            class="text-decoration-none"
                          >
                            <h5>{{match.homeTeam.shortname}}</h5>
                            <div class="my-3">
                              <img
                                class="rounded-circle"
                                style="
                                  width: 50px;
                                  height: 50px;
                                  border-radius: 50%;
                                "
                                src="{{match.homeTeam.crest}}"
                                alt="..."
                              />
                            </div>
                          </a>
                        </td>
                        <td>
                          <a
                            href="{% url 'team' match.awayTeam.teamnumber%}"
                            class="text-decoration-none"
                          >
                            <h5>{{match.awayTeam.shortname}}</h5>
                            <div class="my-3">
                              <img
                                class="rounded-circle"
                                style="
                                  width: 50px;
                                  height: 50px;
                                  border-radius: 50%;
                                  position: relative;
                                  overflow: hidden;
                                "
                                src="{{match.awayTeam.crest}}"
                                alt="..."
                              />
                            </div>
                          </a>
                        </td>
                        <td>
                          {% if match.final_score.winner %}
                          <a
                            href="{% url 'team' match.awayTeam.teamnumber%}"
                            class="text-decoration-none"
                          >
                          <h5>{{match.final_score.winner.shortname}}</h5>
                          <div class="my-3">
                            <img
                              class="rounded-circle"
                              style="
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                position: relative;
                                overflow: hidden;
                              "
                              src="{{match.final_score.winner.crest}}"
                              alt="..."
                            /></a>
                          </div>
                          {% elif match.final_score.winner is None %}
                          <p>N/A</p>
                          {% endif %}
                        </td>
                        <td>
                          {% if match.final_score.fulltime_home is None %}
                          <p>N/A</p>
                          {% else %}
                          <h4>
                            {{match.final_score.fulltime_home}}:
                            {{match.final_score.fulltime_away}}
                          </h4>
                          {% endif %}
                        </td>
                      </tr>
 {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock content %}
