{% extends 'index.html' %} {% load static %} {% block content %}
<div class="content-wrap">
  <div class="main py-5">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-10 p-r-0 text-center">
          <div class="page-header">
            <div class="page-title">
              <h1>EPL Matches Season 2022-2023</h1>
            </div>
          </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-2 p-l-0 title-margin-left py-5">
          <div class="page-header">
            <div class="page-title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">2022</a></li>
                <li class="breadcrumb-item active">2023</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <!-- /# row -->
      <section id="main-content">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-title">
                <h4>Matches</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Kolor Tea Shirt For Man</td>
                        <td><span class="badge badge-primary">Sale</span></td>
                        <td>January 22</td>
                        <td class="color-primary">$21.56</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Kolor Tea Shirt For Women</td>
                        <td><span class="badge badge-success">Tax</span></td>
                        <td>January 30</td>
                        <td class="color-success">$55.32</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Blue Backpack For Baby</td>
                        <td>
                          <span class="badge badge-danger">Extended</span>
                        </td>
                        <td>January 25</td>
                        <td class="color-danger">$14.85</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
