{% extends 'index.html' %} {% load mathfilters %} {% load static %}
<!-- dsa -->
{% block content %}
<div class="content-wrap">
  <div class="main py-5">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-10 p-r-0 text-center">
          <div class="page-header">
            <div class="page-title">
              <h1>EPL Matches Season 2022-2023</h1>
              <p></p>
            </div>
          </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-2 p-l-0 title-margin-left py-5">
          <div class="page-header">
            <div class="page-title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">2022</a></li>
                <li class="breadcrumb-item active">2023</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <!-- /# row -->
      <section id="main-content">
        <div class="row justify-content-center">
          <div class="col-lg-10">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {{matches}}
                  {% for i in paginator.page_range %}
                  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endfor %}
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            <div class="card">
              <div class="card-title text-center">
                <h4>Matches</h4>
              </div>
              <div class="card-body text-center">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>utcDate</th>
                        <th>Status</th>
                        <th>MatchDay</th>
                        <th>HomeTeam</th>
                        <th>AwayTeam</th>
                        <th>Winner</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for match in all_matches %}
                      <!-- dsa -->
                      {% if match.status == "FINISHED"%}
                      <!-- sda -->
                      <tr class="my-2">
                        <td>{{match.utcDate}}</td>
                        <td>{{match.status}}</td>
                        <td>{{match.matchday}}</td>
                        <td class="text-center">
                          <a
                            href="{% url 'team' match.homeTeam.teamnumber%}"
                            class="text-decoration-none"
                          >
                            <h5>{{match.homeTeam.shortname}}</h5>
                            <div class="my-3">
                              <img
                                class="rounded-circle"
                                style="
                                  width: 50px;
                                  height: 50px;
                                  border-radius: 50%;
                                "
                                src="{{match.homeTeam.crest}}"
                                alt="..."
                              />
                            </div>
                          </a>
                        </td>
                        <td>
                          <a
                            href="{% url 'team' match.awayTeam.teamnumber%}"
                            class="text-decoration-none"
                          >
                            <h5>{{match.awayTeam.shortname}}</h5>
                            <div class="my-3">
                              <img
                                class="rounded-circle"
                                style="
                                  width: 50px;
                                  height: 50px;
                                  border-radius: 50%;
                                  position: relative;
                                  overflow: hidden;
                                "
                                src="{{match.awayTeam.crest}}"
                                alt="..."
                              />
                            </div>
                          </a>
                        </td>
                        <td>
                          {% if match.final_score.winner %}
                          <a
                            href="{% url 'team' match.awayTeam.teamnumber%}"
                            class="text-decoration-none"
                          >
                          <h5>{{match.final_score.winner.shortname}}</h5>
                          <div class="my-3">
                            <img
                              class="rounded-circle"
                              style="
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                position: relative;
                                overflow: hidden;
                              "
                              src="{{match.final_score.winner.crest}}"
                              alt="..."
                            /></a>
                          </div>
                          {% elif match.final_score.winner is None %}
                          <p>N/A</p>
                          {% endif %}
                        </td>
                        <td>
                          {% if match.final_score.fulltime_home is None %}
                          <p>N/A</p>
                          {% else %}
                          <h4>
                            {{match.final_score.fulltime_home}}:
                            {{match.final_score.fulltime_away}}
                          </h4>
                          {% endif %}
                        </td>
                      </tr>
                      {% endif %} {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
