{% extends 'index.html' %} {% load static %} {% block content %}
<div class="content-wrap">
  <div class="main py-5">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-10 p-r-0 text-center">
          <div class="page-header">
            <div class="page-title">
              <h1>EPL Matches Season 2022-2023</h1>
            </div>
          </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-2 p-l-0 title-margin-left py-5">
          <div class="page-header">
            <div class="page-title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">2022</a></li>
                <li class="breadcrumb-item active">2023</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <!-- /# row -->
      <section id="main-content">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-title">
                <h4>Matches</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>utcDate</th>
                        <th>Status</th>
                        <th>MatchDay</th>
                        <th>HomeTeam</th>
                        <th>AwayTeam</th>
                        <th>Winner</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for match in all_matches %}
                      <!-- sda -->
                      <tr>
                        <td>{{match.utcDate}}</td>
                        <td>{{match.status}}</td>
                        <td>{{match.matchday}}</td>
                        <td>{{match.homeTeam}}</td>
                        <td>{{match.awayTeam}}</td>
                        <td>{{match.final_score.winner}}</td>
                        <td>
                          {{match.final_score.fulltime_home}}:
                          {{match.final_score.fulltime_away}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
