{% extends 'index.html' %}{% load bootstrap5 %} {% load static %}{% block content %}
<section class="py-5">
    <div class="container my-5">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-7">
          {% if request.user.profile.fav_team %}
          <section class="bg-light">
            <div class="container m-2">
                <div class="row justify-content-center text-center m-2">
                    <div class="col-lg-4 text-center">
                        <div class="text-center m-3">
                          <h3>My Favorite Team</h3>
                          <a href="{% url 'team' request.user.profile.fav_team.teamnumber %}" class="text-decoration-none">
                            <div class="text-center">
                              <img
                              class="rounded-circle"
                              style="
                              width: 50px;
                              height: 50px;
                              border-radius: 50%;
                              position: relative;
                              overflow: hidden;
                              "
                              src="{{request.user.profile.fav_team.crest}}"
                              alt="..."
                              />
                              <h4>{{request.user.profile.fav_team.teamname}} </h4>
                            </div>
                          </a>
                            <div class="py-2">
                              <form method="POST" action="{% url 'home' %}" name="remove">
                                {% csrf_token %}
                                <input type="hidden" value="{{request.user.profile.fav_team}}"  name="remove">
                                <button type="submit" value="{{request.user.profile.fav_team}}"  name="remove">Remove<i class="fa-solid fa-trash"></i></button>
                              </form>
                              <div class="py-2">
                                <a href="{{request.user.profile.fav_team.website}}" class="text-decoration-none">
                                  <p>{{request.user.profile.fav_team}}'s Website</p>
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <div class="text-center py-3">
          <h5>EPL Leaderboard</h5>
        </div>
          <table class="table table-bordered">
            <thead>
              <tr class="text-center">
                {% if request.user.profile.fav_team is None %}
                <th>
                  Add My Team
                </th>
                {% endif %}
                <th scope="col">Position</th>
                <th scope="col">Team</th>
                <th scope="col">Played</th>
                <th scope="col">Won</th>
                <th scope="col">Draw</th>
                <th scope="col">Lost</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            {% for stat in all_stats %}
            <tbody>
              <tr class=" text-center py-2 align-items-center">
                {% if request.user.profile.fav_team is None %}
                <td>
                  <form method="POST" action="{% url 'home' %}" name="fav_team">
                    {% csrf_token %}
                    <input type="hidden" value="{{stat.team}}"  name="fav_team">
                    <button type="submit" value="{{stat.team}}"  name="fav_team">Add</button>
                </form>
              </td>
              {% endif %}
                  <td>{{stat.position}}</td>
                  <td class="text-center">
                      <a class="text-decoration-none" href="{% url 'team' stat.team.teamnumber%}">
                        <div class="text-center py-2"><img
                          class="rounded-circle"
                          style="
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            position: relative;
                            overflow: hidden;
                          "
                          src="{{stat.team.crest}}"
                          alt="..."
                        /></div>
                    {{stat.team.teamname}}
                  </a>
                  </td>
                  <td>{{stat.playedgames}}</td>
                  <td>{{stat.won}}</td>
                  <td>{{stat.draw}}</td>
                  <td>{{stat.lost}}</td>
                  <td>{{stat.points}}</td>
                </tr>
            </tbody>
          </a>
            {% endfor %}
          </table>
        </div>
        <div class="col-md-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Player</th>
                <th scope="col">Team</th>
                <th scope="col">Goals</th>
                <th scope="col">Assists</th>
              </tr>
            </thead>
            <h5>Top Scorers</h5>
            <tbody>
              {% for player in all_players%}
              {% if player.top_scorer == True %}
              <tr class="">
                <td>{{player.name}}</td>
                <td class="text-center">
                  <a class="text-decoration-none" href="{% url 'team' player.team.teamnumber%}">
                  <div class="text-center py-2"><img
                    class="rounded-circle"
                    style="
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;

                    "
                    src="{{player.team.crest}}"
                    alt="..."
                  /></div>{{player.team.shortname}}</a></td>
                <td>{{player.goals}}</td>
                <td>{{player.assists}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
 {% endblock content%}
